table{
  height: 480px;
  width: 480px;
  border: solid 1px black;
}

td, tr{
  width: auto;
  height: auto;
  border: solid 1px black;
  text-align: center;
  justify-content: center;
}

tr{
 margin: auto;
}

.marca{
  width: fit-content;
}

.black{
  background-color: black;
}
